.navbar {
  padding: 18px 0;
  box-shadow: 0 0.5px 0 #dddfe6;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

header {
  margin-bottom: 10vw;
}

header .row {
  height: 599.66px;
}

section {
  margin-bottom: 10vw;
}

header section {
  background-image: url(image_dots.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5vw 10.5vw;
}

.header-background {
  background-image: url(image-geometry_1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#title-projects {
  background-image: url(image_dots.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 10.5vw 10.5vw;
}

#title-projects h1 {
  transform: rotate(-90deg);
}

#projects-2-row {
  height: calc(35.45vw * 0.6863);
}

#row1-back {
  background-image: url(image-geometry_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  border-radius: 0%;
  border: 0;
  padding: 0;
}

.column-flex {
  flex: 1 1 auto;
}

.about-flex {
  flex-direction: row-reverse;
}

.bg-diamond {
  background-image: url(diamond_shape.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.bg-rectangle {
  background-image: url(various_shapes.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70%;
}

.bg-geometry {
  background-image: url(image-geometry_5.png), url(image-geometry_4.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: 25%, 14%;
}

.bg-languages {
  background-color: #1c528a;
  background-image: url(background-icon-languages.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bg-frameworks {
  background-color: #e2505c;
  background-image: url(backgroun-icon-frameworks.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bg-skills {
  background-color: #febf52;
  background-image: url(background-icon-skills.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bg-skills ~ div {
  background-image: url(image_dots_with_teal.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60%;
}

.contact {
  background-color: #f9f9fa;
  background-image: url(image-geometry_6.svg), url(image-geometry_7.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 15%, 15%;
  padding: 10% 25%;
}

.footer {
  background-color: #1a2236;
  margin: 0;
  padding: 2% 10%;
}

@media (max-width: 767px) {
  #projects-2-row {
    height: auto;
  }

  #title-projects h1 {
    transform: rotate(0);
  }

  .header-background {
    background-image: url(separation-headline-project.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
  }

  header .row {
    height: auto;
  }
}
