.navbar {
  padding: 18px 0;
  box-shadow: 0 0.5px 0 #dddfe6;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.header-background {
  background-image: url(image-geometry_1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#title-projects {
  transform: rotate(-90deg);
}

#projects-2-row {
  height: 350px;
}

#row1-back {
  background-image: url(image-geometry_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  border-radius: 0%;
  border: 0;
}
